<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Success</title>
</head>
  <header>
    <h1>Santa's messagebox</h1>
  </header>
<body>
    <p>user: <%= username %></p>
    <p>message: hi Santa, i want <%= message %> now, can you take one to me?</p>
    <a href="/">back</a>
</body>
</html>
